// Project checks index table
table.project-checks-datatable tbody { // This is really long because datatables defined it with such a long rule :(
  tr.active {
    td {
      background-color: $table-bg-active;
      color: $gray;
    }
    &:hover td {
      background-color: $table-bg-active !important; // jQuery Datatables has !important and we want to override this
    }
    .btn-success {
      background-color: lighten($btn-success-bg, 13.5%);
      border-color: lighten($btn-success-border, 13.5%);
    }
  }
  tr.warning td {
    background-color: $state-warning-bg;
  }
  tr.danger td {
    background-color: $state-danger-bg;
  }
  td {
    color: $gray-darker;
  }
}
