development:
  secret_key_base: my-development-secret-key-base

test:
  secret_key_base: my-test-secret-key-base

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_token: <%= ENV["SECRET_TOKEN"] %>
