table.dataTable tbody { // This is really long because datatables defined it with such a long rule :(
                        // also it's dataTable because that's the class that datatable plugin adds
  tr.active {
    td {
      background-color: $table-bg-active;
      color: $gray;
    }
    &:hover td {
      background-color: $table-bg-active !important; // jQuery Datatables has !important and we want to override this
    }
  }
  tr.warning td {
    background-color: $state-warning-bg;
  }
  tr.danger td {
    background-color: $state-danger-bg;
  }
  td {
    color: $gray-darker;
  }

  td.centered {
    form {
      width: 105px;
      margin: 0 auto;
    }
  }
}
